body {
    background-color: #181818;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
}

.card {
    background: #242424;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    background: #0078ff;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}
